#conteneur{
    display: flex;
    margin: 20px;
    font-family: "Calibri", "Trebuchet MS", Arial, "Times New Roman", sans-serif;
}
section{
    margin-top : 50px;
}
h1, h3 {
    text-transform: uppercase;
}
#personne{
    display: flex;
    flex-direction: column;
    min-width: 230px;
    max-width: 230px;
    margin: 20px;
    background-color: rgb(149,117,205);
}
#personne section{
    padding-bottom: 20px;
}
#photo{
    padding-top: 30px;
    text-align: center;
}
#photo img {
    border-radius: 50%;
}
#personne h1{
    background-color: black;
    color: rgba(149,117,205);
    text-align: center;
    margin-top: 0px;
}
#personne p{
    padding: 0px 20px 0px 20px;
    font-size: 0.8em;
}
.sousTitreCoordonnees{
    font-weight: bold;
    margin-bottom: -10px;
}
#propos{
    flex: 1;
    text-align: justify;
}
strong{
    font-weight: bold;
}
#loisirs{
    display: flex;
    justify-content: space-around;
}
#loisirs i{
    border: black 2px solid;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
}
#curriculum{
    padding: 20px;
    margin: 20px;
    width: 100%;
}
header{
    border-bottom: rgb(149,117,205) 2px solid;
    display: flex;
    align-items: baseline;
    font-size: 1.4em;
}
#identite{
    display: flex;
    flex-direction: column;
    border-bottom: none;
}
#curriculum h1{
    font-size: 2.5em;
    font-weight: lighter;
}
#prenom{
    font-style: unset;
    color: rgb(149,117,205);
    font-weight: bold;
}
h2{
    margin-top: -40px;
    font-size: 1.3em;
    font-weight: bold;
}
#petitSeparateur{
    border-top: 2px solid  rgb(149,117,205);
    margin: -25px 0px 60px 0px;
    width: 60px;
}
header i{
    color: rgb(149,117,205);
    margin-right: 20px;
} 
article{
    display: flex;
    align-items: baseline;
    margin: 20px 0px 20px 0px;
}
h3{
    margin-bottom: 5px;
}
h4{
    font-size: 1.2em;
    margin: 0px;
    font-weight: bold;
}
h5{
    font-weight: bold;
    font-size: 1em;
    margin: 5px 0px 5px 0px;
}
article p, ul{
    margin: 5px 0px 5px 0px;
    font-size: 1em;
}
article i{
    margin-right: 10px;
    color: rgb(149,117,205);
    font-size: 0.6em;
}
.liste{
    min-width: 130px;
    max-width: 130px;
    display: flex;
    flex-direction: column;
}
.liste p {
    margin: 0px;
}
li{
    list-style: none ;
}
#recommandations{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: -10px;
}
#recommandations p{
    width: 300px;
}
#recommandations h5{
    margin-top: 30px;
}
#recommandations p{
    margin: 0px;
}
#validationCSS{
    text-align: right;
}

@media screen and (max-width: 1000px){
    #conteneur{
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0px;
        padding: 50px;
    }
    #personne{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        min-width: 100%;
        margin: 0px 0px 20px 0px;
        padding: 0px;
        text-align: center;
    }
    #personne img{
        width: 200px;
    }
    #personne h1{
        font-size: 1.8em;
    }
    #coordonnees{
        font-size: 1.5em;
    }
    #propos p{
        font-size: 1.2em;
    }
    #loisirs i{
        width: 50px;
        height: 50px;
        font-size: 50px;
    }
    #curriculum{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    #petitSeparateur{
        margin-bottom: 10px;
    }
    header{
        font-size: 1.5em;
    }
    article{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 700px){
    #conteneur{
        padding: 10px;
    }
    header{
        justify-content: center;
        border-top: rgb(149,117,205) 2px solid;
    }
    #identite{
        border: none;
        font-size: 1.2em;
    }
    h3{
        font-size: 1.6em;
        text-align: center;
        margin-top: 5px;
    }
    article{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    h4, h5{
        text-align: center;
        font-size: 1em;
        color: rgb(149,117,205);
    }
    h4{
        margin-top: 20px;
    }
    h5{
        margin-bottom: 20px;
    }
    article li{
        list-style: disc;
    }
    .texte {
        font-size: 1.1em;
    }
    .liste{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        min-width: 100%;
        background-color: rgb(149,117,205);
        font-size: 1.3em;
    }
    .liste p {
        margin-right : 10px;
        font-style: italic;
        font-weight: bold;
    }
    #curriculum i{
        display: none;
    }    
    #recommandations{
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        align-items: center;
        text-align: center;
    }
    #recommandations h5{
        margin-bottom: 0px;
    }
}

@media all and (max-device-width: 480px){
    header{
        margin-bottom: 30px;
    }
    article{
        margin: 0px 0px 30px 0px;
    }
    .liste{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1em;
    }
    h4, h5{
        text-align: center;
    }
}